langdetect
nltk
mlflow
fastapi
uvicorn
colorama
isodate
numpy
pandas
colorama
ipdb
ipykernel
matplotlib
numpy
pandas
nbresult
pygeohash
pytest
seaborn
scikit-learn
yapf
python-dotenv
prefect<2
prefect[viz]
psycopg2-binary